@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cormorant:ital,wght@0,300;0,500;0,700;1,300;1,700&family=Luckiest+Guy&family=Montserrat:wght@200&family=Nanum+Myeongjo&family=Rubik+Mono+One&family=Sigmar+One&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Lexend', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Red Hat Display', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: 'Nunito', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: 'Antic Slab', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: 'Luckiest Guy', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1524230572899-a752b3835840?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'); */
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* element styles */
button {
  font-family: 'Lexend', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Nunito', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: 'Antic Slab', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  margin-bottom: 10px;
}

.see-more-button {
  /* background-color: white; */
  transition: .5s ease ;
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  margin-bottom: 15px;
  text-transform: uppercase;

}

/* .see-more-button:hover {
  transform: scale(1.05);
} */


.see-more-button:after {
  content: "";
  background-color: rgb(40, 110, 87, .7);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;

}

.see-more-button:hover:after {
  top: 0px;
  left: 0px;
}


/* CSS */
/* .button-52 {
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} */

/* .button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
} */

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

img {
  max-width: 30%;
}

li {
  list-style-type: "🪴  ";
}

/* global styles */
.card-child {
  max-width: 28%;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-child img {
  max-width: 100%;
}

.card-child-link-text {
  color: black;
}

.card-child-link-text:hover {
  text-decoration: none;
}

.card-parent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer {
  padding: 2rem;
  border-top: solid 1px black;
  font-family: 'Lexend', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Rubik Mono One', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  background-image: url("https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-text {
  transition: .5s;
  color: white;
  text-decoration: none;
}

.footer-text:hover {
  font-size: 22px;
}

.navbar {
  padding: .5rem 2rem 0rem 2rem;
  text-decoration: none;
  transition: 1s;
  /* text-transform: uppercase; */
  color: black;
  font-weight: 900;
  font-size: 20px;
  font-family: 'Lexend', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Rubik Mono One', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
}

.navbar:hover {
  font-size: 1.5rem;
  /* transform: scale(2); */
}

.navbar-parent {
  margin-bottom: 0;
  padding-top: .5%;
  padding-bottom: .5%;
  /* padding: 1rem 2rem 1rem 2rem; */
  border-bottom: 1px dotted black;
  /* transition: 1s ease; */
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1000;
}

.section-header {
  border-top: 3px solid black;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lexend', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Rubik Mono One', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  padding-top: 10px;
  text-transform: uppercase;
}

/* home page */
.bio {
  font-size: 25px;
}

.bio img {
  max-width: 33%;
  border-radius: 3px;
  max-height: 400px;
}

.bio h2 {
  font-family: 'Lexend', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
}

.bio p {
    font-family: 'Red Hat Display', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.bio-child {
  max-width: 50%;
  font-size: 18px;
  /* border-radius: 50px; */
}

.bio-child h3 {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
}

.bio-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.bio-list {
  margin-left: 20%;
  margin-right: 20%;
  font-weight: 400;
  font-size: 20px;
}

.bio-list-header {
  font-weight: bold;
}

/* .bio-image {
  max-width: 300px;
  border-radius: 30px;
} */

.carousel li {
    list-style-type: none;
}

.highlights-child {
  /* max-width: 50%; */
  /* margin: 1% ;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px; */
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;


}

.highlights-child img {
  border-radius: 3px;
}

.highlights-child p {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

/* .highlights-parent {
  justify-content: center;
} */

.job-card-child {
  width: 30%;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 20px;
}

.job-card-img {
  max-width: 25%;
}

.job-card-parent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.text-picture-background {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  font-size: 60px;
  margin-top: 3%;
  font-family: 'Lexend', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: 'Archivo Black', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: 'Rubik Mono One', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
}

.title-image {
  margin: 0;
  margin-left: -15%;
}

.title-image img{
  border-radius: 100px;
  margin-top: 0%;
  margin-left: 4%;
  max-height: 90%;
}

.title-text {
  margin: 0;
  flex-basis: 70%;
}

.title-name {
  margin-top: 1%;
  margin-bottom: 0;
  padding-top: .5%;
  padding-bottom: 1%;
  font-size: 110px;
}

.title-parent {
  display: flex;
  margin-top: 2%;
}

.title-subheader {
  text-align: left;
  /* text-transform: uppercase; */
  margin-top: 2%;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 70px;
}

.title-1 {
  margin-left: -25%;
  margin-top: 0%;
  /* margin-left: 21%; */
}

.title-2 {
  margin-left: -2%;
  margin-top: 7%;
  /* margin-right: 20%;
  text-align: right; */
}

.title-3 {
  margin-left: -13%;
  margin-top: 7%;
  /* margin-left: 32%; */
}


/* resume page */
/* .resume {
  width: 100%;
  height: 30%;
} */

.resume img {
  width: 100%;
  min-width: 350px;
}

/* portfolio pages */
.loom-demo {
  border-radius: 3px;
  border: none;
}
.project-list {
  text-align: left;
}

.art-child {
  width: 29%;
  /* height: 30px; */
  margin: 1%;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
}

.art-child img {
  max-width: 100%;
  border-radius: 3px;
  height: 300px;

}

.art-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:flex-start;
}

.product-images-child{
  max-width: 28%;
  transition: 1s ease;

}

.product-images-child img{
 height: 50%;

}

.product-images-child:hover img {
  transform: scale(2);
  width: 100%;
}

.art-slider {
  margin-bottom: 2.5%;
}


.slider {
  align-content: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  min-width: 50%;
}

.slider-home {
  align-content: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  min-width: 85%;
  padding: 10px;
}

.slider-parent {
  margin-bottom: 40px;
}

.slider img {
  min-width: 50%;
}


@media (min-width: 320px) and (max-width: 999px) {
  .title-subtitle {
    font-size: 18px;
    width: 100%;
    padding: 0px;
    margin: 0;
  }

  .title-1 {
    margin-left: -50%;
    margin-top: 1%;
    font-size: 25px;
  }

  .title-2 {
    margin-left: -30%;
    margin-top: 1;
    padding-top: 8%;
    font-size: 25px;
  }

  .title-3 {
    margin-left: -40%;
    margin-top: 1;
    padding-top: 8%;
    padding-bottom: 3%;
    font-size: 25px;
  }

  .title-image {
    max-width: 80%;
    margin-left: -18%;
  }

  .title-image img{
    border-radius: 100px;
    margin-top: 0%;
  }

  .title-name {
    font-size: 42px;
    width: 100%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
  }

  /* .title-subheader {
    margin: 0;
    width: 100%;
    text-align: center;
  } */

  .text-picture-background {
    margin-top: 10%;
    padding: 0px;
    font-size: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-parent {
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding-top: .5%;
    padding-bottom: .5%;
   }

   .navbar {
    font-size: .75rem;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
   }

   .navbar:hover {
    transition: none;
    font-size: .75rem;
  }

   .bio {
    width: 100%;
   }

   .bio p {
    font-size: 15px;
   }

   .bio h2 {
    font-size: 15px;
   }

   .bio img {
    display: none;
   }

   .bio-parent {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: none;
    align-items: center;
   }


   .bio-child {
    max-width: 90%;
   }

   .bio-child h3 {
    margin: 0;
   }

   .section-header {
    font-size: 18px;
    width: 100%;
   }

   /* body {
    width: 100%;
   } */

   .card-parent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    margin: auto;
   }

   .card-child {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
   }

   .slick-track {
    margin-top: 1%;
    width: 100%;
   }

   .slick-slider {
    margin-bottom: 7%;
    width: 100%;
   }

   .job-card-parent {
    flex-direction: column;
  }

  .job-card-child {
    width: 90%;
  }

  .footer {
    width: 100%;
    /* padding: 0; */
    padding-right: 0;
    padding-left: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
  }

  .art-child {
    margin: 1%;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
    min-width: 75%;
  }

  .art-child img {
    max-width: 100%;
    border-radius: 3px;
    /* height: 300px; */

  }

}
