@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cormorant:ital,wght@0,300;0,500;0,700;1,300;1,700&family=Luckiest+Guy&family=Montserrat:wght@200&family=Nanum+Myeongjo&family=Rubik+Mono+One&family=Sigmar+One&display=swap');

body {
  margin: 0;
  font-family: 'Antic Slab', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Luckiest Guy', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1524230572899-a752b3835840?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'); */
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* element styles */
button {
  font-family: 'Antic Slab', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 10px;
}

img {
  max-width: 30%;
}

li {
  list-style-type: "🌼  ";
}

/* global styles */
.card-child {
  max-width: 30%;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 20px;
}

.card-child-link-text {
  color: black;
}

.card-child-link-text:hover {
  text-decoration: none;
}

.card-parent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer {
  padding: 2rem;
  border-top: solid 1px black;
  font-family: 'Rubik Mono One', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

.footer-text {
  transition: .5s;
  color: white;
  text-decoration: none;
}

.footer-text:hover {
  font-size: 22px;
}

.navbar {
  padding: .5rem 1rem 0rem 1rem;
  text-decoration: none;
  transition: 1s;
  text-transform: uppercase;
  color: black;
  font-family: 'Rubik Mono One', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.navbar:hover {
  font-size: 1.5rem;
}

.navbar-parent {
  margin-bottom: 0;
  padding: 1rem 2rem 1rem 2rem;
  border-bottom: 1px dotted black;
  transition: 1s ease;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

.section-header {
  border-top: 3px solid black;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Rubik Mono One', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  padding-top: 10px;
}

/* home page */
.bio {
  font-size: 25px;
}

.bio-list {
  margin-left: 20%;
  margin-right: 20%;
  font-weight: 400;
  font-size: 20px;
}

.bio-list-header {
  font-weight: bold;
}

.bio-image {
  max-width: 300px;
  border-radius: 30px;
}

.highlights-child {
  max-width: 450px;
  margin: 1%;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
}

.highlights-child img {
  max-width: 100%;
  border-radius: 3px;
}

.highlights-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.text-picture-background {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  font-size: 60px;
  margin-top: 3%;
  font-family: 'Rubik Mono One', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.title-name {
  margin-top: 4%;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 110px;
}

.title-subheader {
  text-align: left;
  text-transform: uppercase;
  margin-top: 2%;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 80px;
}

.title-1 {
  margin-left: 3%;
}

.title-2 {
  margin-right: 3%;
  text-align: right;
}

.title-3 {
  margin-left: 22%;
}


/* resume page */

/* portfolio pages */
.loom-demo {
  border-radius: 3px;
  border: none;
}
.project-list {
  text-align: left;
}

.art-child {
  width: 350px;
  margin: 1%;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
}

.art-child img {
  max-width: 100%;
  border-radius: 3px;
}

.art-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:flex-start;
}

.product-images {
  display: flex;
  flex-wrap: wrap;
}

.product-images-child img{
  max-width: 30%;

}
